h1{
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    color : blue;
    background-color: #ff6666;
}
#information{
    text-align: justify;
    display: table-cell;
    padding: 0 10% 1% 10%;
}
#firstIntro{
    font-style: oblique;
    color : #262626;
    font-size: 150%;
    font-weight: bold;

}
#flag{
    width: 10%;
    margin: 0 2%;
}
#table{
    float:left;
}
#geography{
    font-family:cursive;

}
